[hidden] {
  display: none !important;
}

body {
  margin: 4px;
  min-width: 200px;
}

p {
  margin: 0;
}

.col {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
.col > :not(:first-child) {
  margin-top: 4px;
}
.row {
  flex: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.row > :not(:first-child) {
  margin-left: 4px;
}
.flex {
  flex: 1;
}

#troubleshooting {
  display: none;
}

button {
  border-radius: 2px;
  border: none;
  background-color: #ddd;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 27px;
}

button.blue {
  background-color: #55e;
  color: white;
}
button.yellow {
  background-color: #dc6;
  color: black;
}
button.green {
  background-color: #3c3;
  color: white;
}
